@import '../../root.scss';

.HeaderContent{
  float: right;
}

.usernameInfoValue {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: bolder;
  margin-top: 1.7px;
  color: whitesmoke;
}

.userInfoFonction {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

.userAvatar{
  margin-top: 1.5px;
  width: 29px;
  height: 29px;
  color: #f5f5f5;
  opacity: .85;
  margin-right: 3px;
} 

.HeaderUserInfo {
  display: contents;
  margin-top: 7px;
}

.HeaderUserInfoTile {
  margin-right: 15px;
  background: none;
  margin-top: 0px;
  height: 30px;
}